$colorWhite: #fff;
$colorBlack: #000;
$textColorBlack: #252023;
$textColorPurple: #001a30;
$titleColor: #2b77ff;
$fontFamilyMain: "OpenSans", sans-serif;
$fontFamilyTitle: "Lato", sans-serif;
$maxWidthContainer: 1000;
$minWidth: 320px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
