.features {
	padding: 4.7rem 0rem 0rem 0rem;
	background: #efefef;
	&__inner {
		padding: 0rem 0rem 8.437rem 0rem;
		@media (max-width: $md3 + px) {
			padding: 0rem 0rem 6rem 0rem;
		}
		@media (max-width: $md4 + px) {
			padding: 0rem 0rem 4rem 0rem;
		}
	}
	&__row {
		display: flex;
		column-gap: 2.1rem;
		margin: 4.69rem 0rem 0rem 0rem;
	}
	&__item {
		flex: 0 1 33.33333%;
	}
	@media (max-width: 860px) {
		&__row {
			flex-wrap: wrap;
			row-gap: 1.5rem;
		}
		&__item {
			flex: 0 1 calc(50% - 2.1rem);
		}
	}
	@media (max-width: 670px) {
		&__row {
			column-gap: 0;
		}
		&__item {
			flex: 0 1 100%;
		}
	}
	@media (max-width: $md4 + px) {
		padding: 3rem 0rem 0rem 0rem;
		&__row {
			margin: 3rem 0rem 0rem 0rem;
		}
	}
}

.present {
	background: $colorWhite;
	padding: 4.1rem 0rem 0rem 0rem;
	&__info {
		text-align: center;
		color: $textColorBlack;
		font-size: 0.9375rem;
		line-height: 1.8rem;
		margin: 0rem 0rem 3.1rem 0rem;
		@media (max-width: $md4 + px) {
			font-size: 0.85rem;
			line-height: 1.6rem;
		}
	}
	&__row {
		display: flex;
		column-gap: 0.5rem;
		align-items: center;
	}
	&__column {
		flex: 0 1 33.3333%;
	}
	&__phone {
		width: 100%;
	}
	.item {
		transition: all 0.3s ease 0s;
		padding: 1rem;
		column-gap: 2rem;
		&:not(:last-child) {
			margin: 0rem 0rem 2.5rem 0rem;
		}
		&:hover {
			background: #fffce9;
			cursor: default;
		}
		&__img {
			border: none;
			img {
				height: 2rem;
			}
		}
		&__title {
			font-weight: 700;
			font-size: 0.8125rem;
		}
		&__text {
			font-size: 0.6875rem;
		}
		@media (min-width: 750px) {
			&-vis {
				display: none;
			}
		}
	}
	@media (max-width: 815px) {
		.item {
			&:not(:last-child) {
				margin: 0rem 0rem 1rem 0rem;
			}
			flex-direction: column;
			text-align: center;
			&__img {
				margin: 0rem 0rem 0.6rem 0rem;
			}
		}
	}

	@media (max-width: 749.9px) {
		&__row {
			flex-direction: column;
			column-gap: 0;
		}
		&__column {
			display: flex;
			flex-wrap: wrap;
			&:first-child {
				order: 2;
			}
			&:nth-child(2) {
				order: 1;
			}
			&:last-child {
				order: 3;
			}
		}
		.item {
			flex: 0 1 50%;
			padding: 0.8rem;
			&-none {
				display: none;
			}
		}
	}
	@media (max-width: 500px) {
		.item {
			flex: 0 1 100%;
		}
	}
}
